.wrapper {
  display: grid;
}

.img {
  display: block;
  grid-area: 1/1;
  max-width: 100%;
  opacity: 0;
  transition: 200ms;
}

.skeleton {
  animation: skeleton 1500ms infinite linear;
  background-color: #eee;
  background-image: linear-gradient(90deg, #eee 0, #fff 50%, #eee 100%);
  background-size: 200%;
  grid-area: 1/1;
  height: 100%;
}

@keyframes skeleton {
  from {
    background-position: 0;
  }
  to {
    background-position: -200%;
  }
}
