* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #333;
  --type-first: Helvetica, Arial, sans-serif;
  --type-second: 'Spectral', Georgia;
  font-family: var(--type-first);
  padding-top: 4rem;
}

ul, li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

button, input {
  color: #333;
  display: block;
  font-family: var(--type-first);
  font-size: 1rem;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  max-width: 50rem;
  padding: 0 1rem;
}