.wrapper {
  margin-bottom: 1rem;
}

.input {
  background: #eee;
  border: 1px solid #eee;
  border-radius: .4rem;
  display: block;
  padding: .8rem;
  transition: 200ms;
  width: 100%;
}

.input:focus,
.input:hover {
  background: #fff;
  border-color: #fb1;
  box-shadow: 0 0 0 3px #fea;
  outline: none;
}

.label {
  display: block;
  font-size: 1rem;
  line-height: 1;
  padding-bottom: .5rem;
}

.error {
  color: #f31;
  font-size: .875rem;
  margin-top: .25rem;
}